<footer role="contentinfo">

  <div class="container">

    <div id="mc_embed_signup" class="newsletter-signup">
      <form action="//land.us9.list-manage.com/subscribe/post?u=af71ef497890c3613b7e1a166&amp;id=ae53b9d3dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="cf">
        
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
        </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>

          <div style="position: absolute; left: -5000px;"><input type="text" name="b_af71ef497890c3613b7e1a166_ae53b9d3dd" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>

      </form>
    </div>

    <p>We are dedicated to creating safe, inclusive environment for all&mdash;both organisers and attendees are required to follow the <a href="/code-of-conduct">Code of Conduct</a>.</p>

    <ul class="list-unstyled list-inline">
      <li>CSSConf around the world:</li>
      <li><a href="http://cssconf.com/">US</a> ∙</li>
      <li><a href="http://cssconf.eu/">EU</a> ∙</li>
      <li><a href="http://cssconf.asia/">Asia</a> ∙</li>
      <li><a href="http://cssconf.com.au/">Australia</a></li>
    </ul>

    <ul class="list-unstyled list-inline">
      <li><a href="mailto:contact@cssconfoak.land">Email</a></li>
      <li><a href="http://twitter.com/cssconfoak">Twitter</a></li>
      <li><a href="http://lanyrd.com/2014/cssconfoak/">Lanyrd</a></li>
    </ul>

  </div>
  <!-- container -->

</footer>
