<footer role="contentinfo">

  <div class="container">
    <ul class="list-unstyled">
      <li>CSSConf around the world:</li>
      <li><a href="http://cssconf.com/">US</a></li>
      <li><a href="http://cssconf.eu/">EU</a></li>
      <li><a href="http://cssconf.asia/">Asia</a></li>
      <li><a href="http://cssconf.com.au/">Australia</a></li>
    </ul>

    <p>We are dedicated to creating safe, inclusive environment for all&mdash;everyone's required to follow our <a href="/code-of-conduct">Code of Conduct</a>.</p>

    <ul class="list-unstyled">
      <li><a href="mailto:contact@cssconfoak.land">Email</a></li>
      <li><a href="http://twitter.com/cssconfoak">Twitter</a></li>
      <li><a href="http://lanyrd.com/2014/cssconfoak/">Lanyrd</a></li>
    </ul>

  </div>
  <!-- container -->

</footer>
