<header role="banner" class="text-centered">

  <div class="container">

    <h1>Thank you</h1>
    <p class="text-centered">Thank you to anyone involved in both CSSConf and JSFest Oakland, amazing speakers, generous sponsors and wonderfully welcoming audience for making this conference so inspiring. Here's to 2015.</p>

    <p class="text-centered">See the photos by <a href="https://www.flickr.com/photos/matthewbergman/sets/72157649684937431/">Matthew Bergman</a> and <a href="https://www.flickr.com/photos/xytine/sets/72157649641077236/">Karolina Szczur</a>.</p>

  </div>

</header>