<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} ∙ {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <script src="//use.typekit.net/dwy1xsi.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>